<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>traveldreamsystemWeb</display-name>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/403</form-login-page>
			<form-error-page>/403</form-error-page>
		</form-login-config>
	</login-config>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>pagina template</web-resource-name>
			<description />
			<url-pattern>/template/*</url-pattern>
		</web-resource-collection>
		<auth-constraint></auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>pagina cliente</web-resource-name>
			<description />
			<url-pattern>/cliente/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>CLIENTE</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>pagina impiegato</web-resource-name>
			<description />
			<url-pattern>/impiegato/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>IMPIEGATO</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>pagina amministratore</web-resource-name>
			<description />
			<url-pattern>/amministratore/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>AMMINISTRATORE</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<!-- <security-constraint>
		<display-name>SSL transport required</display-name>
		<web-resource-collection>
			<web-resource-name>secure pages</web-resource-name>
			<description />
			<url-pattern>/auth/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<description />
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint> -->

	<welcome-file-list>
		<welcome-file>homePage.xhtml</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>primefaces.PUBLIC_CAPTCHA_KEY</param-name>
		<param-value>6LeDC-0SAAAAAK6F4z0nNxW7StKWM1ooPJhuBusS</param-value>
	</context-param>
	<context-param>
		<param-name>primefaces.PRIVATE_CAPTCHA_KEY</param-name>
		<param-value>6LeDC-0SAAAAAB4o4nuQYgx37aNYmklBXkl24wk1</param-value>
	</context-param>
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>bluesky</param-value>
	</context-param>
	<context-param>
		<param-name>facelets.SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>
	<error-page>
		<error-code>403</error-code>
		<location>/403.xhtml</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/404.xhtml</location>
	</error-page>
</web-app>